/node_modules/
.idea/jsLibraryMappings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/yelpCamp.iml

*.xml

.idea/blade.xml

.idea/codeStyleSettings.xml

colt-app.js
