<%- include('../partials/header') %>
<h1>Landing Page!</h1>
<p>Welcome to YelpCamp</p>
<p><a href="/campgrounds">List All Campgrounds</a></p>
<p><a href="/campgrounds/new">Add New Campgrounds</a></p>
<%- include('../partials/footer') %>
